:root {
  font-family:"Cormorant", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  overflow-x: hidden; /* Hide horizontal scroll */
  
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #efefef;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* For Webkit browsers */
::-webkit-scrollbar {
  width: 5px; /* for vertical scrollbars */
  height: 5px; /* for horizontal scrollbars */
  scrollbar-color: #B0C4B1 transparent;
}

::-webkit-scrollbar-track {
  background: transparent; /* or any color */
}


::-webkit-scrollbar-thumb {
  background-color: #B0C4B1; /* scrollbar color */
  border-radius: 10px;
}


* {
  scrollbar-width: thin;
  scrollbar-color: #B0C4B1 transparent;
}


.slick-slide div {
  outline: none !important;
}


.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: #d30c7b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
